<header id="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg p-0">
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" width="36px">
        <span class="h5 m-0 fw-bold hidden-sm">HỆ THỐNG QUẢN LÝ TRUY XUẤT NGUỒN GỐC</span>
      </a>
      <div class="d-flex ms-auto justify-items-center align-content-center">
        <div class="me-2">
          <a href="" class="btn text-danger"><i class="fas fa-bell"></i><sup class="bg-light text-danger">2</sup></a>
        </div>
        <div class="nav-item dropdown">
          <a class="dropdown-toggle justify-content-center" href="#" role="button" id="accInfo-link" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="fw-light me-2 hidden-sm">Xin chào!</span> <strong class=" hidden-sm">Nguyễn Văn Thế</strong>
            <img src="assets/img/g3.png" width="34px" class="rounded-circle ms-2">
          </a>
          <ul class="dropdown-menu dropdown-menu-end p-0" aria-labelledby="accInfo-link">
            <li class="dropdown-divider m-0"></li>
            <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
            <li><a class="dropdown-item" href="#">Danh sách phản ánh</a></li>
            <li><a class="dropdown-item" href="#">Quản lý</a></li>
            <li class="dropdown-divider m-0"></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
