<body id="login" class="h-100" style="padding:0">
<div class="h-100 align-items-center justify-content-center">
  <div class="container-fluid" id="bgLog">
    <div class="row h-100">
      <div class="col-lg-3 col-md-6 col-sm-6 offset-lg-2 h-100 d-none d-sm-block" id="logLeft">
        <div class="p-3 h-100 d-flex flex-column">
          <div class="text-center">
            <div><img src="img/logo.png" width="60px"></div>
            <div class="mt-3 text-white text-uppercase">
              <div class="h6 fw-bold">Hệ thống truy xuất nguồn gốc sản phẩm hàng hóa</div>
              <div class="h4 mt-3 fw-bold">tỉnh Cao Bằng</div>
            </div>
          </div>
          <div class="text-end mt-auto "><img src="img/pic.png"></div>
          <div class="text-white text-end mt-auto">
            <div>Bạn cần trợ giúp?</div>
            <div class="fw-bold fst-italic mb-3">Chúng tôi luôn sẵn sàng lắng nghe vấn đề của bạn.</div>
            <div><i class="fas fa-envelope-open me-1"></i> ttthkhcn@gmail.com</div>
            <div><i class="fas fa-phone me-1"></i> 0206.3852421</div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-6 bg-white h-100" id="logRight">
        <div class="p-3 h-100 d-flex flex-column">
          <div class="my-auto">
            <div class="mb-5">
              <div class="h1">Đăng nhập</div>
              <div class="h5 fw-light">Vui lòng đăng nhập để tiếp tục</div>
            </div>
            <form class="">
              <div class="form-group mb-3">
                <label for="" class="form-label">Tên đăng nhập</label>
                <input type="text" class="form-control" placeholder="Tên đăng nhập">
              </div>

              <div class="form-group mb-3">
                <label for="" class="form-label">Mật khẩu</label>
                <div class="inputPass">
                  <input id="password-field" type="password" class="form-control" name="password" value="Password">
                  <span toggle="#password-field" class="fas fa-eye field-icon toggle-password"></span>
                </div>
              </div>

              <div class="form-group mb-3">
                <div class="d-flex justify-content-between">
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="savePass">
                    <label class="form-check-label" for="savePass">Check me out</label>
                  </div>
                  <a href="">Quên mật khẩu?</a>
                </div>
              </div>
              <div class="form-group col-md-12 col-sm-12 d-grid">
                <button type="button" class="btn btn-primary btn-lg">Đăng nhập</button>
              </div>
            </form>
            <div class="text-center mt-5">Bạn chưa có tài khoản? <a href="" class="text-uppercase btn-link fw-bold">Đăng
              ký</a></div>
          </div>
        </div>

      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 bg-white h-100 d-none d-lg-block"></div>
    </div>
  </div>

</div>
</body>
